extends layout

block content
    .container.mt-4
            h1 books
            form.mb-4(action="/api/books", method="POST")
                .form-group
                    label(for="title") title
                    input.form-control(type="text" name="title")
                .form-group
                    label(for="subtitle") subtitle
                    input.form-control(type="text" name="subtitle")
                .form-group
                    label(for="author") author
                    input.form-control(type="text" name="author")
                .form-group
                    label(for="publisher") publisher
                    input.form-control(type="text" name="publisher")
                input.btn.btn-primary.btn-block(type="submit" value="add book")
            h4 books
            form(method="get" action="/available/true")
                input(type='submit' value="AVAILABLE")
            form(method="get" action="/")
                input(type='submit' value="ALL BOOKS")
            button#xhrbutt xhr test
            table(width="100%", border='1')
                each book in books
                    tr
                        td
                            a(href="/card/"+book.isbn)
                                div.w3-container
                                    h3 #{book.title}
                                        span
                                            - let isbn = book.isbn 
                                            form(method='post' action='/api/books/'+isbn+'?_method=DELETE')
                                                button.w3-right.fa.fa-trash(type="submit")
                                    h4 #{book.subtitle}
                                    p by #{book.author}
                                    p #{book.publisher}
                                    p#isbn ISBN: #{book.isbn}
                                    hr
                                    if !book.available
                                        h4 TAKEN BY #{book.customer}
                                            span.w3-right return by #{book.return} 
                                        - let utc = new Date();
                                        - let date = new Date(book.return);
                                        - if (utc > date)
                                            h3.w3-right EXPIRED
                                    else 
                                        h4 AVAILABLE
    script(type='text/javascript' src="../js/app.js")
    
    
                                
                 
            
